.BusSearch {
    width : 100%;
    height: calc(100vh - 400px);
    position: relative;
    margin-top : 20px
}
.BusSearchFilterCss {
    width: 19%;
    height: calc(100vh - 100px);
    border-right: 2px solid black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0 0 10px #bdbcbc;
    box-sizing: border-box;
    border-radius: 10px;
}

.BusSearchContentCss {
    width: 79%;
    box-shadow: 0 0 10px #bdbcbc;
    box-sizing: border-box;
    border-radius: 10px;
}

.specificBus {
    padding: 20px;
    width: 100%;
    height: 150px;
    background-color: aliceblue;
    box-sizing: border-box;
    font-family: Montserrat;
    box-shadow: 0 0 10px #bdbcbc;
    border-radius: 10px;
}

.BusDetailsCss {
    display:flex;
    flex-direction: column;
    width: 150px
}

.BusDetailsCss > :first-child {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.BusDetailsCss > :nth-child(even) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.viewSeatsButtonCss {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.BusLayoutCss {
    width: 100%;
    background-color: aliceblue;
    margin-top: -20px;
    display: flex;
}

.BusSeatsLayout {
    width: 50%;
    height: auto;
    border-right: 1px solid black;
}

.selectedSeatsInfoCss {
    width: 50%
}

.selectedSeatsInfoCss1 {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 10px #bdbcbc;
    border-radius: 10px;
}

.selectedSeatsInfoCss1 div span:hover {
    cursor: pointer;
}

.seatStatusCss1 {
    margin: 10px 0px 10px 10px;
    border-radius: 2px;
    height: 35px;
    background-color: lightpink;
    border: 1ps solid black;
    color: white;
}

.seatStatusCss2 {
    margin: 10px 0px 10px 10px; 
    border-radius: 2px;
    height: 35px;
    background-color: sienna;
    border: 1ps solid black;
    color: white;
}

.BusSeatsContainerCss {

    margin: 10px;
    width: 500px;
    height: 200px;
    border-left: 10px solid black;
    background-color: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px #bdbcbc;
    /* border-radius: 10px; */
}

.BusDriverFontCss {
    font-size: xx-large;
    font-weight: bolder;
}

.BusSeatsCss {
    width: 60px;
    height: 30px;
    background-color: lightpink;
    border: 3px solid crimson;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
}

.seatsRow1Css {
    display : flex;
    justify-content:space-around;
    margin-bottom:10px;
    margin-top:-30px;
    margin-left: 20px;
}

.seatsRow2Css {
    display : flex;
    justify-content:space-around;
    margin-bottom:30px;
    margin-left: 20px;
}

.seatsRow3Css {
    display : flex;
    justify-content:space-around;
    margin-bottom:10px;
    margin-left: 20px;
}

.seatsRow4Css {
    display : flex;
    justify-content:space-around;
    margin-bottom:10px;
    margin-left: 20px;
}

div.seatsRow1Css span:hover,div.seatsRow2Css span:hover,div.seatsRow3Css span:hover,div.seatsRow4Css span:hover {
    cursor: pointer;
}

.travelInfoCss {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

.selectSeatsCss {
    color: white;
    background-color: black;
}