.h3css1 {
    color: rgb(240, 66, 66);
    display : flex;
    justify-content: flex-start
}

.Container-css {
    margin-top : 5%;
    border: 1px solid rgb(240, 66, 66);
    border-radius: 5px;
}

td {
    text-align: right;
}

td label {
    font-weight: lighter;
}

[type="password"] {
    border-style: none none solid none;
    border-color: rgb(240, 66, 66);
    width: 90%;
}

*:focus {
    outline : none
}

table, th, td {
    
    padding: 15px;
  }